.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
	color: var(--clr-neutral-100);

	&__logo {
		text-transform: uppercase;
		letter-spacing: 10px;
		color: var(--clr-neutral-100);
	}

	&__btn {
		cursor: pointer;
	}
}
