$colors-dark: (
	"primary": (
		"100": hsl(220, 98%, 61%),
	),
	"neutral": (
		"100": hsl(236, 33%, 92%),
		"200": hsl(234, 39%, 85%),
		"300": hsl(234, 11%, 52%),
		"400": hsl(233, 14%, 35%),
		"500": hsl(237, 14%, 26%),
		"600": hsl(235, 24%, 19%),
		"700": hsl(235, 21%, 11%),
	),
	"gradient": (
		"1": hsl(192, 100%, 67%),
		"2": hsl(280, 87%, 65%),
	),
);
$colors-light: (
	"primary": (
		"100": hsl(220, 98%, 61%),
	),
	"neutral": (
		"700": hsl(0, 0%, 98%),
		"500": hsl(236, 33%, 92%),
		"400": hsl(233, 11%, 84%),
		"300": hsl(236, 9%, 61%),
		"200": hsl(235, 19%, 35%),
		"600": hsl(0, 0%, 98%),
		"100": hsl(0, 0%, 98%),
	),
	"gradient": (
		"1": hsl(192, 100%, 67%),
		"2": hsl(280, 87%, 65%),
	),
);

$font-weights: (
	"normal": 400,
	"bold": 700,
);

$breakpoints: (
	"small": 35em,
);

$font-families: (
	"main": "Josefin Sans",
);
